---

---

<div class="Info">
	<div class="titleSection">
		<h1>Tracking URL Builder</h1>
	</div>
	
	<div class="bodySection">
		<p>
			Use this URL builder to easily create links for marketing campaigns, emails, and social media posts. UTMs let you track where your users come from and measure how effective your campaigns and marketing efforts are doing.
			<br/><br/>
			For the best results, use this together with our <a href="#">Advanced UTM Plugin</a> to give your website persistent UTM parameter tracking. 
		</p>
	</div>
	<div class="authorSection">
		<p>Alec Reimel | <a href="#">Planet Caravan Studios</a></p>
		
	</div>
</div>


<style>
	.Info{
		height: 100%;
	}
	.titleSection{
		height: 100px;
		padding:var(--padding-1);
		border-bottom: solid var(--border-width) var(--border-color);
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bodySection{
		height: calc(100% - 200px);
		overflow-y: scroll;
		padding:var(--padding-1);
	}
	.authorSection{
		height: 100px;
		padding:var(--padding-1);
		border-top: solid var(--border-width) var(--border-color);
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
